.commits-list-item {
  .hover {
    &:hover {
      background-color: rgba(0, 0, 0, .03);
    }
  }

  .commit-message {
    font-size: 14px;
  }

  .message {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
      color: dodgerblue;
    }
  }

  .committer {
    font-size: 12px;
  }

  .committer-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .commit-details-button {
    width: 6rem;
  }
}
