<div class="repos-list-component">
  <ng-container *ngIf="!loading && !empty">
    <ng-container *ngFor="let repo of repos; let lastRepo = last">
      <app-repo-list-item [repo]="repo">
      </app-repo-list-item>

      <mat-divider class="my-3" *ngIf="!lastRepo">
      </mat-divider>
    </ng-container>

    <div class="mb-5 paginator">
      <app-quantum-git-paginator
        #quantumGitPaginator
        (firstPage)="fetchAllRepos($event)"
        (previousPage)="fetchAllRepos($event)"
        (nextPage)="fetchAllRepos($event)"
        (lastPage)="fetchAllRepos($event)"
      ></app-quantum-git-paginator>
    </div>
  </ng-container>

  <ng-container *ngIf="loading">
    <div class="w-100 d-flex justify-content-center align-items-center loader">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="empty">
    <div class="w-100 d-inline-block justify-content-center align-items-center">
      <div class="w-100 d-flex justify-content-center align-items-center">
        <img src="../../../../../assets/img/empty-illustration.svg" alt="Empty Illustration" width="700">
      </div>
      <div class="w-100 d-flex justify-content-center align-items-center">
        <span class="fw-bold text-center">Repos are empty.</span>
      </div>
    </div>
  </ng-container>
</div>
