.repo-list-item-component {
  .title {
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .topic {
    height: 1.5rem;
    font-size: 12px;
    background-color: rgb(221, 244, 255);
  }

  .repo-general-info-icon {
    transform: scale(.8);
  }

  .development-language, .licence, .last-updated {
    font-size: 12px;
  }
}
