.repo-list-item-component {
  .title {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .topic {
    height: 1.5rem;
    font-size: 12px;
    background-color: rgb(221, 244, 255);
  }
}
